<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="appConStr" connectionString="Data source=RASELBAPPI-PC; initial catalog=winform_db; user id=sa; password=123; timeout=300;"
      providerName="System.Data.EntityClient" />
    <add name="RnD.WinFormSample.Properties.Settings.winform_dbConnectionString"
      connectionString="Data Source=RASELBAPPI-PC;Initial Catalog=winform_db;User ID=sa; password=123;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>

